/*
*-------------------------------------------------------------------------------
* By Temitayo Ogunlolu
* main.scss
*-------------------------------------------------------------------------------
*/
/* Modules */
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
/*
*-------------------------------------------------------------------------------
* Colors.scss
*-------------------------------------------------------------------------------
*/
/*
*-------------------------------------------------------------------------------
* all.scss
*-------------------------------------------------------------------------------
*/
body {
  font-family: 'Quattrocento Sans', sans-serif !important; }

#intro {
  margin-top: 0;
  position: relative;
  height: 600px;
  background-image: url("../img/ban.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  #intro .tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  #intro .text {
    visibility: visible;
    animation-delay: 1s;
    animation-name: fadeIn;
    text-align: left;
    color: #fff;
    margin-top: 120px; }
    #intro .text h3 {
      font-weight: 100; }
    #intro .text p {
      color: #ccc; }

@media only screen and (max-width: 829px) {
  #intro {
    margin-top: 0;
    position: relative;
    height: 450px;
    background-image: url("../img/ban.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    #intro .tint {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); }
    #intro .text {
      visibility: visible;
      animation-delay: 1s;
      animation-name: fadeIn;
      text-align: center;
      color: #fff;
      margin-top: 60px; } }
.panes {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: white;
  z-index: 0; }

.more {
  margin-top: 50px;
  margin-bottom: 10em; }
  .more .title {
    text-align: center; }
    .more .title h1 {
      margin-bottom: 50px; }
  .more i {
    font-size: 35px; }
  .more p {
    color: #787d83; }
  .more .mar-50 {
    margin-bottom: 50px;
    border-bottom: 1px solid #eee; }
    .more .mar-50 .active {
      border-bottom: 2px solid #47bb7f;
      color: #47bb7f; }
      .more .mar-50 .active:hover {
        border-bottom: 0px solid #47bb7f; }
    .more .mar-50 a {
      color: #787d83;
      font-size: 16px;
      text-transform: uppercase; }

@media only screen and (max-width: 829px) {
  .more {
    margin-top: 50px;
    margin-bottom: 10em; }
    .more .title {
      text-align: center; }
      .more .title h1 {
        margin-bottom: 50px;
        font-size: 30px; } }
.inter {
  background-color: #2c3541;
  color: #c9ced5;
  min-height: 400px;
  padding: 80px 0; }
  .inter a {
    text-transform: uppercase; }
  .inter .section-intro {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px; }
    .inter .section-intro h1 {
      color: #fff; }
  .inter .illustration {
    max-width: 100%;
    margin-bottom: 20px; }

.customer {
  background-color: #fff;
  min-height: 300px;
  padding: 80px 0; }
  .customer .testimonial .photo {
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 35px; }
    .customer .testimonial .photo img {
      max-width: 100%;
      border-radius: 100%; }
  .customer .testimonial .quote {
    font-size: 18px;
    color: #3d3f42;
    margin-bottom: 30px;
    line-height: 150%; }
  .customer .testimonial .name {
    margin-bottom: 3px; }
  .customer .testimonial .title {
    font-size: 14px; }

.media {
  padding: 60px 0;
  background-color: #f7f9fa; }

@media only screen and (max-width: 829px) {
  .media {
    display: none; } }
.try {
  background-color: #c9ced5;
  min-height: 300px; }

/*
*-------------------------------------------------------------------------------
* Utility.scss
*-------------------------------------------------------------------------------
*/
/* Layout */
/*
*-------------------------------------------------------------------------------
* header.scss
*-------------------------------------------------------------------------------
*/
header {
  min-height: 100px;
  display: flex;
  background: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  header .logo {
    margin-top: 30px; }
    header .logo img {
      height: 30px; }
  header .head-nav {
    margin-top: 38px;
    font-size: 14px;
    text-align: right; }
    header .head-nav li {
      padding-left: 35px;
      display: inline; }
      header .head-nav li a {
        color: #fff; }
  header .nav-anchor {
    position: absolute;
    right: 20px;
    font-size: 25px;
    top: 30px;
    display: none; }
    header .nav-anchor a {
      color: #fff; }
      header .nav-anchor a.clicked {
        color: #47bb7f; }

@media only screen and (max-width: 829px) {
  header {
    min-height: 80px;
    display: flex;
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    header .logo {
      margin-top: 30px; }
      header .logo img {
        height: 30px; }
    header .head-nav {
      margin-top: 38px;
      font-size: 14px;
      text-align: left;
      padding: 14px 0; }
      header .head-nav li {
        padding-bottom: 30px;
        display: block; }
        header .head-nav li a {
          color: #fff; }
    header .head-nav.mobile {
      display: none;
      margin-top: 38px;
      font-size: 14px;
      text-align: right; }
      header .head-nav.mobile li {
        display: block;
        clear: left;
        margin: 0;
        background-color: inherit;
        min-height: 48px;
        overflow: hidden;
        padding-left: 0px; }
    header .nav-anchor {
      display: block; }

  header.mobile {
    background: #242b35; } }
/*
*-------------------------------------------------------------------------------
* Footer.scss
*-------------------------------------------------------------------------------
*/
footer {
  min-height: 400px;
  padding: 2rem 0 0 0;
  background: #242b35;
  color: white; }
  footer .footer-top {
    padding: 50px 0; }
  footer .footnote {
    border-top: 1px solid #2c3541;
    color: #a7afb8;
    margin-top: 50px; }
    footer .footnote p {
      display: inline-block; }
    footer .footnote .small-text {
      font-size: .813em;
      margin: .813em 0; }
    footer .footnote ul {
      float: right; }
      footer .footnote ul li {
        display: inline-block;
        margin-left: 20px; }
        footer .footnote ul li a {
          color: inherit; }

@media only screen and (max-width: 829px) {
  footer {
    min-height: 400px;
    padding: 2rem 0 0 0;
    background: #242b35;
    color: white; }
    footer .footer-top {
      padding: 50px 0; }
    footer .footnote {
      border-top: 1px solid #2c3541;
      color: #a7afb8;
      margin-top: 50px; }
      footer .footnote p {
        display: inline-block; }
      footer .footnote .small-text {
        font-size: .813em;
        margin: .813em 0; }
      footer .footnote ul {
        float: none;
        padding-left: 0px; }
        footer .footnote ul li {
          display: inline-block;
          margin-left: 0px;
          margin-right: 20px; }
          footer .footnote ul li a {
            color: inherit; } }
/* Partials */
/*
*-------------------------------------------------------------------------------
* Typography.scss
*-------------------------------------------------------------------------------
*/
/*
*-------------------------------------------------------------------------------
* base.scss
*-------------------------------------------------------------------------------
*/
/*
*-------------------------------------------------------------------------------
* buttons.scss
*-------------------------------------------------------------------------------
*/
.btn-signup {
  background-color: #47bb7f;
  width: 100px;
  padding: 20px;
  min-height: 30px;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase; }
  .btn-signup:hover {
    color: #fff;
    text-decoration: none; }

.btn-black {
  background-color: #000;
  width: 100px;
  padding: 20px;
  min-height: 30px;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase; }
  .btn-black:hover {
    color: #fff;
    text-decoration: none; }

.btn-ghost {
  border: 1px solid #4b5665;
  color: #fff;
  padding: 20px;
  transition: all .5s ease;
  border-radius: 2px; }
  .btn-ghost:hover {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff; }

.btn-try {
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  text-transform: uppercase; }
  .btn-try:hover {
    color: #4b5665;
    text-decoration: none;
    border: 1px solid #fff;
    background-color: #fff; }

/*
*-------------------------------------------------------------------------------
* figures.scss
*-------------------------------------------------------------------------------
*/
/*
*-------------------------------------------------------------------------------
* grids.scss
*-------------------------------------------------------------------------------
*/
/*
*-------------------------------------------------------------------------------
* reset.scss
*-------------------------------------------------------------------------------
*/
.c-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .c-nav li {
    position: relative;
    display: block; }
    .c-nav li a {
      position: relative;
      display: block;
      padding: 10px 15px; }
      .c-nav li a:hover {
        text-decoration: none;
        background-color: #fff;
        border-bottom: 2px solid #47bb7f; }
      .c-nav li a:focus {
        text-decoration: none; }

.push-b {
  margin-top: 50px;
  margin-bottom: 30px; }

.push-m {
  margin-bottom: 50px; }

/*# sourceMappingURL=main.css.map */
