/*
*-------------------------------------------------------------------------------
* buttons.scss
*-------------------------------------------------------------------------------
*/

.btn-signup{
  background-color: $green;
  width: 100px;
  padding: 20px;
  min-height: 30px;
  border-radius: 3px;
  color: $white;
  text-transform: uppercase;

  &:hover{
      color: $white;
      text-decoration: none;
  }
}

.btn-black{
  background-color: $black;
  width: 100px;
  padding: 20px;
  min-height: 30px;
  border-radius: 3px;
  color: $white;
  text-transform: uppercase;

  &:hover{
      color: $white;
      text-decoration: none;
  }
}

.btn-ghost{
  border: 1px solid #4b5665;
  color: $white;
  padding: 20px;
  transition: all .5s ease;
  border-radius: 2px;

  &:hover{
      color: $white;
      text-decoration: none;
      border: 1px solid $white;
  }
}

.btn-try{
  border: 1px solid $white;
  color: $white;
  padding: 10px;
  border-radius: 3px;
  text-transform: uppercase;


  &:hover{
      color: #4b5665;
      text-decoration: none;
      border: 1px solid $white;
      background-color: $white;

  }
}
