/*
*-------------------------------------------------------------------------------
* Colors.scss
*-------------------------------------------------------------------------------
*/

$white : #fff;
$black : #000;
$dark-g: #2c3541;
$grey: #c9ced5;
$light-grey: #f7f9fa;
$green : #47bb7f;
